body, html {
    height: 100%;
    margin: 0;
}


/* --------------------- Class CSS ------------------------ */
.about-author{
    padding-top: 20px;
}

.author{
    padding-bottom: 20px;
    background-color: #bedbf8;
}

.showcasetext {
    color: #fff;
}

hr{
    border: 5px solid #000000;
}

.footer{
    background-color: #470d0d;
}

.overview{
    background-color: #581729;
}

.nav-image{
    width: 10%;
    height:auto;
}

.showcase {
    background-color: #581729;
}


.main-showcase{
    height: 50vw;
}



.icon-white{
    color: white;
}
/*
.nb-bg-color {
    background-color: #450d0d !important;
}
*/

.author-image {
    width: 400px;
    padding: 30px; 
    box-sizing: border-box;
    height: 400px;
}

/* --------------------- ID CSS ------------------------ */
a#nbMenuItem {
    font-size:25px;
    padding-right: 20px;
    padding-left:20px;
    color: #000000;
}

h1#ovPadLeft{
    padding-left: 20px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100;
    zoom: 125%;
    /*transform: translateX(calc((100% - 100vw) / 2)); */
    /* overflow: hidden;
    object-fit: fill;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px); */
}

p#ovPadLeft{
    padding-left: 20px;
}

h1#ovPadRight{
    padding-left: 20px;
}

p#ovPadRight{
    padding-left: 20px;
}

/* ----------------- Navigation Bar Animation CSS -----------------*/
.shift{
    position:relative;
    z-index: 1;
  }
.shift:hover {
    color: #ffffff;
  }
.shift:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; 
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #581729;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
.shift,
.shift:after,
.shift:before {
    transition: all .5s;
  }
.shift:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }

/* ----------------- Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

